* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(115, 158, 122, 1);
}

.logo {
    color: white;
    font-family: "gautreaux", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

nav {
    font-family: "merriweather", serif;
    font-weight: 700;
    font-style: normal;
    padding: 0 1rem;
    display: flex;
    justify-content: right;
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
  }

 nav li {
    margin: 0 0.5rem;
  }

  nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
  }

  .profile {
    width: 1029px;
    height: 1478px;
    margin: 0;
  }

  .flex-intro {
    display: flex;
    align-items: center;
  }

  .image-container,
  .text-container {
    flex: 1;
  }

  .intro {
    font-family: "merriweather", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #558B97;
    color: #fff;
    padding: 40px;
    transform: translateX(-80px);
    border: 40px solid rgba(0, 0, 0, 0.25);
    border-right-width: 60px;
    border-top-width: 50px;
  }

