* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #B8CBBB;
}

header {
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(115, 158, 122, 1);
}

.logo {
    color: white;
    font-family: "gautreaux", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-decoration: none;
}

nav {
    font-family: "merriweather", serif;
    font-weight: 700;
    font-style: normal;
    padding: 0 1rem;
    display: flex;
    justify-content: right;
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
  }

 nav li {
    margin: 0 0.5rem;
  }

  nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
  }

  .profile {
   width: 600px;
    margin: 0;
  }

  .flex-intro {
    display: flex;
    align-items: center;
  }

  .image-container,
  .text-container {
    flex: 1;
  }

  .intro {
    font-family: "merriweather", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #558B97;
    color: #fff;
    padding: 40px;
    transform: translateX(-210px);
    border: 40px solid rgba(0, 0, 0, 0.25);
    border-right-width: 60px;
    border-top-width: 50px;
  }

  div.scroll-container {
    background-color: #2f4b51;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

  #MasterCopy {
    width: 410px;
  }

  #AbstractLandscape {
    width: 387px;
  }

  #AbstractPortrait1{
    width: 387px;
  }

  #CafeCards {
    width: 565px;
  }

  .mywork {
    font-family: "merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    background-color: #2f4b51;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  button {
    border: none;
    background-color: #558B97;
    color: white;
    border-radius: 8px;
    padding: 10px;
    font-family: "merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }

  .SeeMore {
    padding-top: 20px;
    justify-content: right;
  }

  .form-signup {
    margin: 0 auto;
    max-width: 400px;
    background-color: #2f4b51;
    border-radius: 8px;
    font-family: "merriweather", serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    padding: 20px;
  }

  .form-signup h2 {
    font-family: "merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: center;
  }

  .form-signup p {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .form-container {
    padding-top: 200px;
    padding-bottom: 300px;
  }

  .form-control {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
  }

  .submit_button {
    border: none;
    background-color: #558B97;
    color: white;
    border-radius: 8px;
    padding: 10px;
    font-family: "merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }

  .submit-container {
    padding-top: 10px;
  }

  .blog_image {
    width: 500px;
    padding-top: 80px;
    padding-left: 40px;
  }

  .image_outline {
    background-color: #558B97;
    width: 550px;
    height: 350px;
    display: flex;
    justify-content: center;
  }

  .blog-container {
    padding-top: 70px;
    display: flex;
  }

  .blog-title {
    display: flex;
  }

  .blog-info {
    display: flex;
  }

  .blog-post {
    display: flex;
  }



